body {
    background-color: aquamarine;
}

.nav {
    list-style: none;
    background-color: burlywood;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*list items inside unordered lists*/

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: black;
    color: white;
}

.active {
    background-color: teal;
}